/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILS */

.container {
  max-width: 100%;
  width: 1400px;
  margin: 0 auto;
}

ul > li {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
}

.btn {
}

/* HEADER */

.header {
  height: 900px;
  /* debug */
  background-color: red;
  border: 1px solid black;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

.nav-items {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.nav-right-items,
.nav-left-items {
  display: flex;
  gap: 15px;
}
