/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILS */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --primary-color: #202020;
  --secondary-color: rgb(0, 97, 255);
  --line-color: #ccc;
  --padding-general: 50px;
}

.container {
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
}

ul > li {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
}

.btn {
  background-color: var(--secondary-color);
  padding: 10px 30px;
  color: white;
}

/* HEADER */

.header {
  height: 850px;
  /* debug */
  background-color: #ccc;
  border: 1px solid black;
}

/* navbar */

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  background-color: #fff;
}

.nav-items {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.nav-right-items,
.nav-left-items {
  display: flex;
  gap: 15px;
}

/* hero */

.hero-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  row-gap: 40px;
  position: relative;
  top: 60px;
}

.hero-container > .hero-content {
  display: flex;
}

.hero-container > .hero-content > .hero-image {
  width: 70%;
}

.hero-container > .hero-content > .hero-image > img {
  max-width: 100%;
}

.hero-container > .hero-content > .hero-content-descr {
  width: 30%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.hero-title > h1 {
  font-size: 5.5em;
  font-weight: 900;
}

.hero-downarrow {
  padding-top: 20px;
}

/* MAIN */

.main-container {
  padding: 130px 70px;
}

/* title cards */
.main-plans {
  display: flex;
  flex-direction: column;
  gap: var(--padding-general);
}

.main-plans > .plans-title > h2 {
  font-size: 2.5em;
  color: var(--primary-color);
  padding-bottom: var(--padding-general);
}

.main-plans > .plans-title > .checkbox {
  /* CHECKBOX BORDER RADIUS? */
}

/* plan cards */

.cards-container {
  display: flex;
  column-gap: 53px;
  justify-content: center;
}

.cards-container > .plan-card {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  /*  border: 1px solid black; */
  flex: 0 0 30%;
  border: 1px solid var(--line-color);
}

.plan-card > .plan-card-header {
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid var(--line-color);
}

.plan-card > .plan-card-body {
  padding: 30px 30px 20px;
}

.plan-card > .plan-card-footer {
  padding: 50px 30px var(--padding-general);
}

.plan-card-body > .card-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.button-card-container {
  text-align: center;
}

.card-plan-title {
  padding-bottom: 10px;
  font-size: 1.5em;
}

.plan-card-body > .card-info > p {
  color: #777;
}

.card-benefits-list {
  padding-top: 35px;
  padding-bottom: var(--padding-general);
}

.card-benefits-list > li {
  padding-top: 20px;
}

.fa-check {
  color: var(--secondary-color);
}

.plan-card-body > p {
  padding-top: 35px;
  padding-bottom: 35px;
}

.plan-card-body > .half-line {
  border: 1px solid var(--line-color);
  width: 20%;
}

.plan-card > .plan-card-footer > ul > li {
  padding-top: 20px;
}

/* large card */

.large-card {
  width: 100%;
  border: 1px solid var(--line-color);
}

.large-card > .large-card-header {
  line-height: 40px;
  border-bottom: 1px solid var(--line-color);
  text-align: center;
}

.large-card-body {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.large-card-body-info > p {
  padding-top: 60px;
}

.large-card-body-info {
  width: 60%;
}

.large-card-body-button {
  width: 40%;
}

/* partner section */

.main-partners {
  display: flex;
  padding-top: 150px;
}

.image-partners {
  width: 60%;
}

.image-partners > img {
  max-width: 100%;
}

.info-partners {
  width: 40%;
  padding: var(--padding-general);
}

.info-partners > h3 {
  font-size: 1.5em;
  padding-bottom: 20px;
}

.info-partners > p {
  padding-bottom: 20px;
}

.btn-transparent {
  padding: 10px 10px;
  background-color: transparent;
}

/* main operation section */

.main-operations {
  padding-top: 150px;
}
